RELEASE
SOLUTIONS
cpt
test/*.tar
[0-9]*
.*.swp
.*~
*~
*.aux
*.log
*.nav
*.snm
*.toc
*.mtc*
*.cpt
*.lof
*.lot
*.ilg
*.ind
*.maf
*.idx
*.bak
labcontents.data
LF*.html
LF*.pdf
LF*.dat
LF*.out
LFS*-*.tex
wordlist.dict
!common/.containsrepo
common/*

